services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"  # Standard AMQP port
      - "15672:15672" # Management UI port
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - ./data:/var/lib/rabbitmq/mnesia



