
services:
  redis:
    image: arm64v8/redis:8-alpine
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - ${PWD}/data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
    networks:
      - app_net
    logging:
      driver: "json-file"
      options:
        max-size: "10m"

networks:
  app_net:
    external: true
